#green {
  color: green;
}




p {
  color: red !important;
}

p {
  color: purple;
}




p.blue {
  color: blue;
}

p {
  color: purple;
}

li:hover {
  background-color: aqua;
  transition: 0.3s;
}
